 <app-navbar></app-navbar>

 <!-- <app-pessoa-cadastro></app-pessoa-cadastro> -->
 <app-pessoas-pesquisa></app-pessoas-pesquisa>

 <!-- <app-lancamento-cadastro></app-lancamento-cadastro> -->
 <!-- <app-lancamentos-pesquisa></app-lancamentos-pesquisa> -->

<p-toast></p-toast>

<p-confirmDialog
  acceptLabel="Sim"
  rejectLabel="Não"
  [icon]="'pi pi-question-circle'"
  [acceptIcon]="'pi pi-check'"
  [rejectIcon]="'pi pi-times'"
  [closable]="true"
  [closeOnEscape]="true"
   >
</p-confirmDialog>
