<!-- <app-navbar></app-navbar>
<app-lancamentos-pesquisa></app-lancamentos-pesquisa>
<app-pessoas-pesquisa></app-pessoas-pesquisa> -->

<div class="container">

  {{cliente | json}}

  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">

    <div>
      <label>Nome</label>
      <input type="text" [(ngModel)]="cliente.nome" name="nome">
    </div>

    <div>
      <label>E-mail</label>
      <input type="text" [(ngModel)]="cliente.email" name="email">
    </div>

    <div>
      <label>Profissão</label>
      <select [(ngModel)]="cliente.profissao" name="profissao">
        <option value="" >Selecione</option>
        <option *ngFor="let profissao of profissoes" value="{{profissao}}">{{profissao}}</option>
      </select>
    </div>

    <button type="submit">Salvar</button>

  </form>
</div>
