<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="grid">

      <div class="col-12">
        <h1>{{ editando ? 'Edição de': 'Novo'}} lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" name="tipos" formControlName="type" ></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento </label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dueDate" formControlName="dueDate" ></p-calendar>
        <app-message [control]="formulario.get('dueDate')" error="required" text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{formulario.get('type')?.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}} </label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [required]="true" name="payDate" formControlName="dueDate"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição </label>
        <input  pInputText type="text" name="description" formControlName="description">

        <app-message [control]="formulario.get('description')" error="required"
        text="Informe uma descrição"></app-message>

        <app-message [control]="formulario.get('description')" error="minlength"
        text="Mínimo de {{formulario.get('description')?.errors?.['minlength']?.requiredLength}}"></app-message>

      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Valor </label>
        <p-inputNumber  mode="currency" currency="BRL" placeholder="0,00" name="amount" formControlName="amount"></p-inputNumber>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="category">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" name="category" formControlName="id"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="person">
        <label>Pessoa </label>
        <p-dropdown  [options]="pessoas" [filter]="true" placeholder="Selecione" name="personId" formControlName="id"></p-dropdown>

      </div>

      <div class="col-12 md:col-12 p-fluid">
        <label>Observação </label>
        <textarea name="notes" pInputTextarea rows="3" formControlName="notes"></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-info" (click)="novo()"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
