/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.label {
  margin: 0.5em;
}

form .p-button {
  margin-right: .25em;
}

.col-nome-header {
  width: 120px;
  text-align: center !important;
}

.col-nome-content {
  text-align: left !important;

}

.col-cidade-header {
  width: 120px;
  text-align: center !important;
}

.col-cidade-content {
  text-align: left !important;

}

.col-estado-header {
  width: 120px;
  text-align: center !important;
}

.col-estado-content {
  text-align: left !important;

}

.col-status-header {
  width: 120px;
  text-align: center !important;
}

.col-status-content {
  text-align: left !important;

}

.col-status-content a {
  text-decoration: none;
  color: #404C51;
}

.col-acoes-header {
  width: 115px;
  text-align: center !important;
}

.col-acoes {
  width: 115px;
  text-align: center !important;
}

.col-acoes .p-button {
  margin: 1px;
}

td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
