<p-table [value]="pessoas"
[paginator]="true"
[rows]="filtro.itensPorPagina"
[lazy]="true"
[totalRecords]="totalRegistros"
(onLazyLoad)="aoMudarPagina($event)"
[responsive]="true"
#pessoasTable>
  <ng-template pTemplate="header">
    <tr>
      <th class="col-nome-header">Nome</th>
      <th class="col-cidade-header">Cidade</th>
      <th class="col-estado-header">Estado</th>
      <th class="col-status-header">Status</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td class="col-nome-content">{{pessoa.name}}</td>
      <td class="col-cidade-content">{{pessoa.address.city}}</td>
      <td class="col-estado-content">{{pessoa.address.state}}</td>
      <td class="col-status-content">
        <a (click)="atualizarStatus(pessoa)" pTooltip="{{pessoa.active === true ? 'Desativar' : 'Ativar'}}" tooltipPosition="top">
          {{pessoa.active === true ? "Ativo" : "Inativo"}}
        </a>
      </td>
      <td class="col-acoes">
        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pessoa.id]"></a>
        <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
      </td>
    </tr>
  </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          Nenhuma pessoa encontrada
        </td>
      </tr>
    </ng-template>
</p-table>
